@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

/****************
* Global Styles *
****************/
:root {
    --dark-color: rgb(35, 35, 35);
    --mid-color: #505050;
    --display-color: #353535;
    --accent-color: #FFA62B;
    --accent-color2: #db452b;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

html {
    font-size: 27px;
}

#app {
    min-height: 100vh;
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(86, 115, 135);
}

/*************
* Calculator *
*************/
#calculator {
    background-color: var(--dark-color);
    width: 280px;
    color: black;
    padding: 1rem;
    border-radius: 30px;
}

/**********
* Display *
**********/
#display-container {
    background-color: var(--display-color);
    color: rgb(206, 206, 206);
    white-space: nowrap;
    padding: 0.2rem 0.5rem;
    margin-bottom: 1rem;
    text-align: right;
    font-size: 1.3rem;
    border-radius: 10px;
}

#full-exp {
    height: 5rem;
    font-size: 1rem;
    width: 100%;
    overflow-wrap: break-word;
    white-space: break-spaces;
    word-wrap: break-word;
    overflow-y: scroll;
    padding-right: 0.5rem;
}

#display {
    overflow: auto;
    overflow-x: scroll;
    padding-right: 0.5rem;
    height: 2.3rem;
}


/*****************
* Buttons Layout *
*****************/
button {
    -webkit-appearance: none;
}

button:hover {
    cursor: pointer;
    border: solid rgb(255, 221, 0) 2px;
    
}

#buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0.4rem;

    grid-template-areas:    "ac ac div mult" 
                            "seven eight nine minus" 
                            "four five six plus" 
                            "one two three equal" 
                            "empty zero dot equal";
}

/******************** 
* Operation Buttons *
********************/
.operation-btn {
    background-color: var(--mid-color);
    color: white;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 50%;
    font-size: 1.1rem;
    line-height: 1.1rem;
    font-weight: bold;
}

.operation-btn:active {
    background-color: #747474;
}

#equals {
    grid-area: equal;
    height: 100%;
    border-radius: 40px;
    background-color: var(--accent-color);
    font-size: 1.4rem;
    font-weight: bold;
}

#equals:active {
    background-color: #ffba5a;
}

/***************
* Clear Button *
***************/
#clear {
    background-color: var(--accent-color2);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 40px;
    grid-area: ac;
    width: 100%;
    height: 2.1rem;
}

#clear:hover {
    border: solid rgb(255, 221, 0) 2px;
}

#clear:active {
    background-color: #ff6d53;
}

/*****************
* Number Buttons *
*****************/
.num-btn {
    background-color: var(--lightest-color);
    color: rgb(127, 127, 127);
    font-size: 1rem;
    width: 2.3rem;
    height: 2.3rem;
    border: none;
    border-radius: 50%;
    font-weight: bold;
}

.num-btn:active {
    background-color: #5e5e5e;
}

#zero {
    grid-area: zero;
    border-radius: 40px;
    width: 100%;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#decimal {
    grid-area: dot;
}


/*********
* Footer *
*********/
footer {
    margin-top: 0.5rem;
}

address {
    color: white;
    font-size: 0.7rem;
    font-style: normal;
}

address a {
    color: white;
}

address a:hover {
    color: var(--accent-color);
}


/**************
* Media Query *
***************/
@media (max-width: 337px) {
    #app {
        align-items: start;
        overflow: auto;
    }

    footer {
        align-self: center;
    }
    
}